<p>Yo!</p>

<p>Looks like <b>you've got a new comment on your place</b>! Might be a good idea to go and check it out <%= link_to 'here', place_url(@place) %>. :)</p>

Keep on keepin' on,<br />
Rebecca